/*Universal*/
html{
    opacity:0.9;
    text-align: center;
}

body{
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color:seashell;
    }

/*Header*/
.flex-container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:69px;
    border-bottom: 1px solid seashell;
}

.logo img{
    height:50px;
    margin-left: 10px;
    margin-top:8px;
}

.nav-bar a{
    color:seashell;
    margin-right:10px;
}

/*Mission*/
.flex-container-mission{
    margin:0 auto;
    background-image: url('./images/img-mission-background.jpg');
    max-width:1200px;
    min-height:700px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    background-size:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}   

.flex-item-mission{
    position: absolute;
    top:50%;
    background-color: black;
    opacity: 1;
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
}

/**/