/*Universal*/
*{
    opacity:0.9;
    text-align: center;
}

body{
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color:seashell;
    margin:0px;
}

/*Header*/
.flex-container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:69px;
    border-bottom: 1px solid seashell;
}

.logo img{
    height:50px;
    margin-left: 10px;
    margin-top:8px;
}

.nav-bar a{
    color:seashell;
    margin-right:10px;
}

/*Mission*/
.mission{
    background-image: url('./images/img-mission-background.jpg');
    width:1200px;
    height:700px;
    margin:0 auto;
}

.flex-container-mission{
    display: flex;
    flex-direction: column;
    justify-content:center;
    justify-items: center;
    position: relative;
    top:50%;
    padding: 20px 0;
    background-color: black;
    opacity: 1;
    width:1200px;
}

h4.flex-container-mission,
h2.flex-container-mission{

}
